header {
    background-color: #183440;
    height: 80px;
    border-top: 0px;
}

h1 {
    --size: 36px;

    color: white;
    font-size: var(--size);
    margin-top: 0px;
    position: relative;

    top: calc(100% - var(--size) - 5px);
    left: 5px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfff6;

    margin: 0px;
    padding: 0px;
    border: 0px;

    overflow-x: hidden;
}

main {
    text-align: center;
}

footer {
    background-color: #92aa9d;
    text-align: center;
    height: 50px;
}

footer > p {
    font-size: 16px;
    padding-top: 5px;
    color: white;
}

.centralize {
    width: fit-content;
    margin: 0 auto;
}

figure {
    width: fit-content;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    text-indent: 0px;
    border: thin silver solid;
    background-color: white;
    margin: 0.5em;
    padding: 0.5em;
}

img {
    width: 400px;
}
