body {
    background-image: url("../img/bg.jpg");
    background-color: #cccccc;
    background-size: cover;
}

#formulario {
    background-color: rgb(255, 255, 255, 0.6);
    margin: auto;
    width: 350px;
    height: 270px;
    border-radius: 10px;

    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;

    box-shadow: 0px 0px 15px black;
    padding: 20px;
    box-sizing: border-box;
}

#formulario p {
    text-align: center;
    font-size: 30pt;
    margin: 0px;
}

#formulario .campos {
    width: 240px;
    height: 30px;

    border: 2px solid #ddd;
    padding-left: 5px;
    margin: 5px;
}

a {
    text-align: right;
    font-size: 15px;
    text-decoration: none;
    color: orange;
    display: block;
}

#logar {
    width: 100%;
    font-size: 20px;
    background-color: darkorange;
    border: 2px solid rgb(160, 88, 0);
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
	cursor: pointer;
}
